* {
  /*border: 1px pink solid;*/
}

html {
    -webkit-tap-highlight-color: transparent; /* stop highlight showing up when clicking boxes */
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%; /* for sticky footer */
}

.noselect { /* to get rid of ugly highlight if user accidentally dbl clicks TODO could condense this */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.game-board {
  box-sizing: border-box;
  width: 800px;
  /*height: 700px;*/
  margin: 0 auto;
  background-color: grey;
}

.row {
  display: -webkit-flex; /* TODO check if need other prefixes e.g. moz */
  display: flex;
  /*margin: 0;
  align-content: space-between;*/
}

.cell {
  -webkit-flex: 1;
  flex: 1;
  background-color: darkgrey;
  width: 200px;
  height: 200px;
  border: 2px solid black;
}

.xo {
  max-width: 200px;
  margin: 0 auto;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  line-height: 200px;
}

.hidden {
  visibility: hidden;
}
